tldextract==2.2.0
prometheus-client==0.4.0
torch==1.1.0
torchvision==0.4.1
gunicorn
flask
flask-cors
mock
coverage
fastai
numpy==1.15.2
scikit-learn
Flask-PyMongo
joblib
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
pymongo
tensorflow==1.14.0